:root {
    --bg-color: #101011;
    --text-primary: hsl(115, 91%, 31%);
    --text-secondary: #216fdb;
    --accent-color: #2dd4bf; /* Cyan/Teal glow */
    --font-main: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-main);
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

/* --- Navigation --- */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background: rgba(10, 14, 20, 0.9);
    position: sticky;
    top: 0;
}

.logo {
    color: #4ade80; 
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

nav ul { display: flex; list-style: none; }
nav ul li { margin-left: 20px; }
nav ul li a { text-decoration: none; color: var(--text-secondary); transition: 0.3s; }
nav ul li a:hover { color: var(--accent-color); }

/* --- jrkapalaula Section --- */
.jrkapalaula {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.jrkapalaula-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.avatar-circle {
    width: 180px;
    height: 180px;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(45, 212, 191, 0.2);
}

.rkapalaula-text h1 {
    font-size: 3.5rem;
    margin: 10px 0;
}

.greeting { color: #4ade6f; font-family: 'JetBrains Mono'; }
.tagline { color: var(--text-secondary); max-width: 500px; margin-bottom: 25px; }

.btn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn:hover { transform: scale(1.05); }

/* --- Skills & Projects --- */
h2 { border-bottom: 1px solid #1e293b; padding-bottom: 10px; margin-bottom: 20px; }

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.skill-card {
    background: #d0d3d3;
    padding: 20px;
    border-radius: 10px;
}

img{
   width: 500;
   height: 300px;;
}

footer {
    text-align: center;
    padding: 100px 20px;
    background: #0f172a;
}

.email-link {
    display: block;
    font-size: 2.5rem;
    color: var(--accent-color);
    margin: 20px 0;
    text-decoration: none;
}